@model CellServe.ExcelHandler.Models.WorkbookSchema

<div class="jumbotron">
    <h1>CellServe</h1>
</div>

<div id="app">
    <h2>Your Workbook</h2>
    <p>Loaded: <code>@Model.FilePath</code>, contains <span class="badge">@Model.NumberOfSheets</span> sheets. </p>
    <p>Get <a href="/Schema">Schema JSON</a>. </p>

    @foreach (var sheet in Model.Sheets)
    {
        <div class="well row">
            <div class="col-md-4">
                <h3>@sheet.Name</h3>
                <p>@sheet.Rows rows</p>
            </div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            @foreach (var header in sheet.Headers)
                            {
                                <th>@header.Key</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var header in sheet.Headers)
                            {
                                <td>@header.Value</td>
                            }
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
            },
            methods: {
            }
        })

        function debounce(fn, delay) {
            var timeoutID = null;
            return function () {
                clearTimeout(timeoutID);
                var args = arguments;
                var that = this;
                timeoutID = setTimeout(function () {
                    fn.apply(that, args)
                }, delay);
            }
        }
    </script>
}