<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CellServe</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CellServe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Tester", "Tester", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="row">
            <div class="col-md-4">
                &copy; @DateTime.Now.Year SteGriff <br/>
                <a href="https://github.com/stegriff/cellserve">CellServe on GitHub</a>
            </div>
            <div class="col-md-4 text-center"><a href="#top">Back to top</a></div>
            <div class="col-md-4">
                <b>Globalization</b><br />
                @{ var onePointZero = 1.0M; }
                Local date: @DateTime.Now.ToShortDateString();<br />
                Local time: @DateTime.Now.ToShortTimeString();<br />
                Currency: @(onePointZero.ToString("C"))
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
    @RenderSection("scripts", required: false)
</body>
</html>
